@page "/tour/{TourId}"

@inject NavigationManager NavManager
@inject TourDetailsPageViewModel TourVM

<PageTitle>Wienerwald Tour</PageTitle>

@if (TourVM.Tour == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="tour-header">
        <div class="d-flex justify-content-between align-items-center">
            <h1>@TourVM.Tour.Name</h1>

            <button class="btn btn-primary" @onclick="EditTour">
                Edit
            </button>
        </div>
        <hr>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi quis pretium turpis. Nam euismod orci at nulla
            pellentesque ullamcorper. Nulla lacinia varius sem quis pulvinar. Vestibulum vel mi nunc. Donec gravida
            fringilla nisl ac tristique.</p>
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th></th>
                <th>Info</th>
                <th>Details</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><i class="icon-clock"></i></td>
                <td>Est. time</td>
                <td>@TourVM.Tour.EstimatedTime</td>
            </tr>
            <tr>
                <td><i class="icon-location"></i></td>
                <td>From</td>
                <td>@TourVM.Tour.From</td>
            </tr>
            <tr>
                <td><i class="icon-destination"></i></td>
                <td>To</td>
                <td>@TourVM.Tour.To</td>
            </tr>
            <tr>
                <td><i class="icon-difficulty"></i></td>
                <td>Difficulty</td>
                <td>@TourVM.Tour.Difficulty</td>
            </tr>
            <tr>
                <td><i class="icon-transport"></i></td>
                <td>Transport type</td>
                <td>@TourVM.Tour.TransportType</td>
            </tr>
            <tr>
                <td><i class="icon-heart"></i></td>
                <td>Rating</td>
                <td>@TourVM.Tour.Rating/10</td>
            </tr>
        </tbody>
    </table>

    <div class="tour-map">
        <img src="map.png" alt="Map">
    </div>

<div class="d-flex justify-content-between align-items-center">
    <h2>Logs</h2>
    <button class="btn btn-primary" @onclick="AddLog">+ Add Log</button>
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Date</th>
            <th>Comment</th>
            <th>Difficulty</th>
            <th>Total Distance (km)</th>
            <th>Total Time (hrs)</th>
            <th>Rating</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var log in TourVM.TourLogs)
        {
            <tr>
                <a href="/log/@log.Id"><td>@log.Date.ToString("yyyy-MM-dd")</td></a>
                <td>@log.Comment</td>
                <td>@log.Difficulty</td>
                <td>@log.TotalDistance</td>
                <td>@log.TotalTime.TotalHours.ToString("0.##")</td>
                <td>@log.Rating</td>
            </tr>
        }
    </tbody>
</table>
}

@code {
    [Parameter]
    public string TourId { get; set; }

    protected override async Task OnInitializedAsync()
    {

        int id = Convert.ToInt32(TourId);

        await TourVM.InitializeAsync(Convert.ToInt32(TourId));
    }
    private void EditTour()
    {
        NavManager.NavigateTo($"/edit/{TourId}");
    }

    private void AddLog()
    {
        NavManager.NavigateTo($"/tour/{TourId}/add-log");
    }

}