@page "/tours"
@attribute [StreamRendering]

<PageTitle>Tours</PageTitle>

<h1>Tours</h1>

<p>Here are all our available tours:</p>

@if (tours == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Transport Type</th>
                <th>From</th>
                <th>To</th>
                <th>Popularity</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var tour in tours)
            {
                <tr>
                    <td>@tour.Name</td>
                    <td>@tour.Description</td>
                    <td>@tour.TransportType</td>
                    <td>@tour.From</td>
                    <td>@tour.To</td>
                    <td>@tour.Popularity</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private Tour[]? tours;

    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(500);

        tours = Enumerable.Range(1, 5).Select(index => new Tour
            {
                Name = $"Tour {index}",
                Description = $"Description {index}",
                TransportType = $"Transport Type {index}",
                From = $"From {index}",
                To = $"To {index}",
                Popularity = index,
            }).ToArray();
    }

    private class Tour
    {
        public string Name { get; set; }
        public string Description { get; set; }
        public string TransportType { get; set; }
        public string From { get; set; }
        public string To { get; set; }
        public int Popularity { get; set; }
    }
}
