@using Client.Models
@inject IJSRuntime JS

<table class="table table-table" id="tourlogs">
    <thead>
    <tr>
        <th>Date</th>
        <th>Comment</th>
        <th>Difficulty</th>
        <th>Duration (hrs)</th>
        <th>Rating</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var log in TourLogs)
    {
        <tr>
            <td><a href="/tours/@log.Tour.Id/log/@log.Id">@log.DateTime.ToString("yyyy-MM-dd")</a></td>
            <td><span>@log.Comment</span></td>
            <td><span>@log.Difficulty</span></td>
            <td><span>@log.Duration</span></td>
            <td><span>@log.Rating</span></td>
        </tr>
    }
    </tbody>
</table>


@code {
   
    [Parameter]
    public IEnumerable<TourLog> TourLogs { get; set; }

    protected override async Task OnInitializedAsync()
    {
        base.OnInitializedAsync();
    }

    protected override async Task OnParametersSetAsync()
    {
        await JS.InvokeVoidAsync("adjustTableCellOverflow");
        base.OnParametersSetAsync();
    }

}