@using Client.Models
@inject NavigationManager NavManager

<div class="table-responsive">
    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Transport Type</th>
            <th>From</th>
            <th>To</th>
            <th>Popularity</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var tour in Tours)
        {
            <tr class="hover-row">
                <td @onclick="@(() => TourDetails(tour.Id.ToString()))">
                    <a class="link" href="@($"/tours/{tour.Id}")" style="cursor:pointer">@tour.Name</a>
                </td>
                <td>@tour.Description</td>
                <td>@tour.TransportType</td>
                <td>@tour.From</td>
                <td>@tour.To</td>
                <td>@Math.Ceiling(tour.Popularity) / 10</td>
            </tr>
        }
        </tbody>
    </table>
</div>

@code {
    [Parameter] public IEnumerable<Tour> Tours { get; set; }

    protected override Task OnInitializedAsync()
    {
        return Task.CompletedTask;
    }

    protected override Task OnParametersSetAsync()
    {
        return Task.CompletedTask;
    }

    private void TourDetails(string tourId)
    {
        NavManager.NavigateTo($"/tours/{tourId}");
    }

}